body {
  background-color: aliceblue;
  background-image: url(./back.png);
  background-size: cover;
  -moz-background-size: cover; /* 老版本的 Firefox */
  background-repeat: no-repeat;
  margin: 0px;
  background-attachment: fixed;
  background-position: center 0;
  min-height: 100vh;
}


.layui-tab-title {
  color: rgb(124, 110, 110);
}

.layui-tab {
  background-color: rgba(255, 255, 255, 0.6);
  min-height: 280px;
  max-height: auto;
}

.layui-btn-fluid {
  background-color: rgba(255, 255, 255, 0.6);
  min-height: 260px;
  border-width: 5px;
  border-color: white;
  border-radius: 25px;
}

.layui-container {
  max-width: 750px;
}
